:root{
	--eerie-black: #272727ff;
	--white: #FEFEFEff;
	--cyan-process: #25B0E7ff;
	--cool-grey: #8088B8ff;
	--slate-blue: #6065CFff;
	--dark-cornflower-blue: #063E7Fff;
	--lavender-floral: #AC84DAff;
}



/****Multi-Step Form*****/

/* Style the form */
/* #regForm {
	background-color: #ffffff;
	margin: 100px auto;
	padding: 40px;
	width: 70%;
	min-width: 300px;
  } */
  
  /* Style the input fields */
  /*input {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #aaaaaa;
  }
  */
  /* Mark input boxes that gets an error on validation: */
 /*  input.invalid {
	background-color: #ffdddd;
  }
   */
  /* Hide all steps by default: */
  .tab {
	display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color:var(--cool-grey);
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
	cursor: pointer;
  }
  
  /* Mark the active step: */
  .step.active {
	opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
	background-color:var(--cyan-process);
  }

/*  Invalid Date Color */
  #invalidDate {
	  color: red;
	  text-align: center;
	  font-weight: bold;
  }